<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.sso.mapper.UserMapper">
<select id="checkUsername" parameterType="string" resultType="int">
	select count(*) from tb_user where username=#{param}
</select>
<select id="checkPhone" parameterType="string" resultType="int">
	select count(*) from tb_user where phone=#{param}
</select>
<select id="checkEmail" parameterType="string" resultType="int">
	select count(*) from tb_user where email=#{param}
</select>
</mapper>